@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter";
    background: white;
}

.products_page_c {
    width: 100%;
    min-height: 630px;
    background: white;
    display: flex;
    padding-top: 48px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 45px;
}

.filter_panel_c {
    width: 300px;
    flex-shrink: 0;
    padding-left: 120px;
}

.filter_panel_c h2 {
    font-size: 18px;
    font-weight: 700px;
    margin-bottom: 30px;
}

.filter_option_c {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 22px;
    font-size: 14px;
    color: #777;
    cursor: pointer;
}

.filter_option_c input {
    width: 14px;
    height: 14px;
}

.catalogue_c {
    margin-left: 130px;

}

.product_count_c {
    font-size: 14px;
    margin-bottom: 15px;
}

.product_grid_c {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    column-gap: 35px;
    row-gap: 45px;
    text-align: center;
}

.product_item_c {
    align-items: center;
    background: white;
    border: none;
    cursor: pointer;
}

.product_item_c img {
    width: 220px;
    height: 140px;
    object-fit: contain;
    margin-top: 30px;
}

.product_item_c h3 {
    font-size: 13px;
    font-weight: 400px;
    margin-top: 30px;
}

.product_item_c p {
    font-size: 13px;
}

.price_c {
    color: black;
    padding-top: 50px;
    position: relative;
    transform: translateX(-45px);
    margin-top: -38px;
}

h3 {
    color: black;
}

.placeholder {
    width: 240px;
    height: 230px;
    background: #dddddd;
}