.contact-section {
    height: 800px;
    background: white;
    padding-top: 100px;
    text-align: center;
    width: 100%;
    min-height: 520px;
    display: flex;
    flex-direction: column;

}

.contact-title {
    color: black;
    font-weight: 100px;
    font-family: "Inter";
    font-size: 24px;
    margin-bottom: 15px;
    background: transparent;
}

.phone {
    color: black;
    font-size: 16px;
    background: transparent;
    font-family: "Inter";
    margin-bottom: 50px;
}

.enquiries{
    color: black;
    font-weight: 100px;
    font-family: "Inter";
    font-size: 24px;
    margin-bottom: 25px;
    background-color: white;
}

form {
    width: 67%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    font-family: "Inter";
    padding-left: 500px;
}

input, textarea {
    width: 100%;
    padding: 14px 16px;
    background-color: white;
    border-radius: 24px;
    font-family: "Inter";
    margin-bottom: 5px;
}

textarea {
    height: 100px;
    font-family: "Inter";
}

.contactsendbutton {
    width: 20%;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 24px;
    font-size: 14px;
    margin-top: -8px;
}