@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

a, li, button {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.title {
    cursor: pointer;
    font-family: "Ms Madi";
    font-size: 38px;
}

.nav_options {
    list-style: none;
}

.nav_options li {
    display: inline-block;
    padding: 0px 22px;
}

.nav_options li a {
    transition: all 0.3s ease 0s;
}

.nav_options li a:hover {
    color:peru;
}

button {
    background-color: black;
    border: 2px;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    color: peru;
}

.slider-wrapper {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 16px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.motto {
    height: 50px;
    margin: 70px;
    font-size: 60px;
    font-family: "Inter";
    font-weight: 800;
    color: white;
    background-color: transparent;
    transform: translateY(-250px);
}

.crozy {
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(file:///C:/Users/janap/OneDrive/Documents/UM%202026/SEM%201/User%20Interface%20Development/A3/Slide%20Image%201.avif);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.crozy .btn {
    display: flex;
    padding: 18px 36px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 14px;
    border: 2px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-style: solid;
    border-width: 7px;
    transform: translateY(-220px);
}

.crozy .btn:hover {
    color: peru;
}

.section {
    position: relative;
    width: 100%;
    height: 700px;
    background: black;
}

p {
    font-family: "Inter";
    font-size: 18px;
    color: white;
    margin: 50px;
    padding-right: 550px;
    padding-left: 120px;
    transform: translateY(-10px);
    background-color: transparent;
}

#meatpie {
    position: absolute;
    right: 135px;
    top: 80px;
    width: 320px;
    height: 500px;
    object-fit: cover;
}

.meatpietitle {
    font-size: 60px;
    font-family: "Inter";
    font-weight: 800;
    color: #422a2a;
    background-color: transparent;
    padding-top: 20px;
    margin: 140px;
    padding-right: 450px;
    padding-left: 30px;
}